.apartments {
	height: 100%;
}
.apartments>section {
	height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    z-index: 200;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.apartments>section>.left {
	width: calc(100% - 600px);
	position: relative;
}

.apartments>section>.right {
	width: 600px;
	height: 100%;
	background-color: #F7F7F7;
	padding: 20px 20px;
	overflow-y: auto;
	z-index: 100;
/*	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
}

.apartments>section>.right>.areaSizer {
	position:fixed;
	height: calc(100% - 60px);
	width: 10px;
	top: 60px;
	right: 600px;
	z-index: 1000;
	background-color: #F7F7F7;
	cursor: ew-resize;
	z-index: 150;
}

.apartments>section>.right>.title {
	display: flex;
	flex-direction: row;

}
/*google map 使用繪圖工具*/
.apartments>section>.left>.paint {
	position: absolute;
    right: 25px;
    top: 15px;
    z-index: 50;
    border: 1px #00A99D solid;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.6);
    color: #006A62;
    font-weight: 400;
    cursor: pointer;
}
.apartments>section>.left>.paint .icon {
	margin: 0px 4px 0px 2px;
	cursor: pointer;
}
.apartments>section>.left>.paint:hover {
	background-color: #40BEB6;
    color: white;
    font-weight: 100;
}	
.apartments>section>.left>.active {
	background-color: #40BEB6;
    color: white;
    font-weight: 100;
    margin-left: 25%;
}	
/*打開商家*/
.apartments>section>.left>.business {
	position: absolute;
    left: 25px;
    top: 15px;
    z-index: 50;
    border: 1px #00A99D solid;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.6);
    color: #006A62;
    font-weight: 400;
    cursor: pointer;
}
.apartments>section>.left>.business .icon {
	margin: 0px 4px 0px 2px;
	cursor: pointer;
}
.apartments>section>.left>.business:hover {
	background-color: #40BEB6;
    color: white;
    font-weight: 100;
}	
.apartments>section>.left>.active {
	background-color: #40BEB6;
    color: white;
    font-weight: 100;
    margin-left: 25%;
}	
/*打開道路名稱*/
.apartments>section>.left>.road {
	position: absolute;
    left: 25px;
    top: 53px;
    z-index: 50;
    border: 1px #00A99D solid;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.6);
    color: #006A62;
    font-weight: 400;
    cursor: pointer;
}
.apartments>section>.left>.road .icon {
	margin: 0px 4px 0px 2px;
	cursor: pointer;
}
.apartments>section>.left>.road:hover {
	background-color: #40BEB6;
    color: white;
    font-weight: 100;
}	
.apartments>section>.left>.active {
	background-color: #40BEB6;
    color: white;
    font-weight: 100;
    margin-left: 25%;
}	
/**/
.apartments>section>.loading {
	background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    width: 600px;
    height: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    opacity: 1;
    position: absolute;
    right: 0;
    z-index: 200;
}
.apartments>section>.loading>img {
	width: 30%;
    filter: drop-shadow(2px 2px 4px #00A99D);
   	animation: snailSpin 3s linear infinite;
}

@keyframes snailSpin {
	25% {transform:rotateY(0deg);}
    75% {transform:rotateY(360deg);}
    100% {transform:rotateY(360deg);}
}
.apartments>section>.loading>.description {
	width: 28%;
    height: 5%;
    margin-top: 20px;
    border-radius: 5px;
    text-shadow: 2px 2px 2px #00A99D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 24px;
}

/*篩選條件區域共同條件*/
	.apartments>section>.right>.filterArea {
		width: 100%;
		margin-top: 12px;
		background-color: white;
		padding: 10px 20px;

	}

	.apartments>section>.right>.filterArea>.filterType {
		height: 55px;
		border-bottom: 1px solid #BBBBBB;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.apartments>section>.right>.filterArea>.filterType:nth-child(1) {
		height: 95px;
	}
	.apartments>section>.right>.filterArea>.filterType>p {
		width: 29%;
		color:#002A27;
	}

	.apartments>section>.right>.filterArea>.filterType>.filterDetail {
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.active {
		background-color: #60C9C2;
		color: white !important;
		font-weight: 100;
	}

/*租金條件*/
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.cashBar {
		height: 100%;
	    width: 2px;
	    background-color: black;
	    margin-right: 3px;
	}
/*房間 數量 篩選條件*/
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.roomAmount {
		width: 23.5%;
		color: #002A27;
		text-align: center;
		border: 1px solid #00A99D;
		border-radius: 3px;
		padding: 2px 10px;
		cursor: pointer;
	}
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.roomAmount:hover {
		background-color: #60C9C2;
		border: 1px solid #00A99D;
		color:white;
		font-weight: 100;
	}

/*房間 類型 篩選條件*/
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.roomType {
		width: 32%;
		color: #002A27;
		text-align: center;
		border: 1px solid #00A99D;
		border-radius: 3px;
		padding: 2px 10px;
		cursor: pointer;
	}
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.roomType:hover {
		background-color: #60C9C2;
		border: 1px solid #00A99D;
		color:white;
		font-weight: 100;
	}
/*房屋配件 篩選條件*/
	.apartments>section>.right>.filterArea>.amenities {
		height: unset;
	}
	.apartments>section>.right>.filterArea>.amenities>.filterDetail {
		padding: 8px 0px 17px 0px;
	}
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.amenity {
		width: 32%;
		color: #002A27;
		text-align: center;
		border: 1px solid #00A99D;
		border-radius: 3px;
		padding: 2px 10px;
		cursor: pointer;
   		margin-top: 8px;
	}
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.amenity:hover {
		background-color: #60C9C2;
		border: 1px solid #00A99D;
		color:white;
		font-weight: 100;
	}
/*行政區域 篩選條件*/
	.apartments>section>.right>.filterArea>.districts {
		height: unset;
	}
	.apartments>section>.right>.filterArea>.districts>.filterDetail {
		padding: 8px 0px 17px 0px;
	}
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.district {
		width: 32%;
		color: #002A27;
		text-align: center;
		border: 1px solid #00A99D;
		border-radius: 3px;
		padding: 2px 10px;
		cursor: pointer;
   		margin-top: 8px;
	}
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.district:hover {
		background-color: #60C9C2;
		border: 1px solid #00A99D;
		color:white;
		font-weight: 100;
	}

/*必備照片 篩選條件*/
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.required {
		width: 100%;
		color: #002A27;
		text-align: center;
		border: 1px solid #00A99D;
		border-radius: 3px;
		padding: 2px 10px;
		cursor: pointer;
	}
	.apartments>section>.right>.filterArea>.filterType>.filterDetail>.required:hover {
		background-color: #60C9C2;
		border: 1px solid #00A99D;
		color:white;
		font-weight: 100;
	}
/*篩選條件 相關按鈕*/
	.apartments>section>.right>.filterArea>.buttons {
		border-bottom: none;
		color:#002A27;
		display: flex;
	    justify-content: flex-end;
	}

	.apartments>section>.right>.filterArea>.buttons>.button {
		border: 1px solid #BBBBBB;
		border-radius: 3px;
		margin-right: 5px;
		margin-left: 10px;
		padding: 5px 10px;
		cursor: pointer;
	}

	.apartments>section>.right>.filterArea>.buttons>.button:hover {
		background-color: #626567;
		border: 1px solid #626567;
		color:white;
		font-weight: 100;
	}

	.apartments>section>.right>.filterArea>.buttons>.button>.icon {
		margin-right: 5px;
	}

/*展示區域 標題*/
	.apartments>section>.right>.resultTitle {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 20px;
	}
	.apartments>section>.right>.resultTitle>.showLogic {
		width: 30%;
		color: grey;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.apartments>section>.right>.resultTitle>.showLogic>select {
		width: 100%;
	}


	.apartments>section>.right>.resultTitle>p {
		width: 40%;
		color: grey;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.apartments>section>.right>.resultTitle>.displayLogic {
		width: 30%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.apartments>section>.right>.resultTitle>.displayLogic>.displayType {
		margin-left: 5px;
		border: 1px solid #BBBBBB;
		border-radius: 3px;
		padding: 5px 7px;
		cursor: pointer;
	}

	.apartments>section>.right>.resultTitle>.displayLogic>.displayType:hover {
		background-color: #626567;
		border: 1px solid #626567;
		color: white;
	}

/*result area*/

	/*一般block*/
		.apartments>section>.right>.resultArea {
			margin-top: 10px;
		}



		.apartments>section>.right>.resultArea>.results {
			width: 100%;
			margin-top: 20px;
			cursor: pointer;
		}


		.apartments>section>.right>.resultArea>.results>.img {
			width: 100%;
			padding-bottom: 50%;
			background-image: url("../imgs/bedroom.jpg");
			background-size: cover;
			background-position: center;
		}

		.apartments>section>.right>.resultArea>.results>.description {
			border: 1px solid #BBBBBB;
		    padding: 7px 0px 12px 15px;
			position: relative;
			width: 100%;
		}

		.apartments>section>.right>.resultArea>.results>.description>.priceGesture {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		.apartments>section>.right>.resultArea>.results>.description>.absolute {
			position: absolute;
			top: -55px;
			left: 0px;
			padding: 0px 0px 0px 4px;
		}

		.apartments>section>.right>.resultArea>.results>.description>.priceGesture>.price {
			font-size: 2em;
			align-self: flex-start;
			color: white;
			font-family: Microsoft JhengHe;
			font-weight: 200;
			letter-spacing: 1.3px;
			text-shadow: 1px 1px 10px black;
		}

		.apartments>section>.right>.resultArea>.results>.description>.priceGesture>.gesture {
			
		}

		.apartments>section>.right>.resultArea>.results>.description>.priceGesture>.gesture>.icon {
			color: white;
			height: 30px;
			width: 30px;
			margin-right: 10px;
		    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.4));
		    cursor: pointer;
		}

		.apartments>section>.right>.resultArea>.results>.description>.priceGesture>.gesture>.icon:hover {
			color: #7E5109;
		}

		.apartments>section>.right>.resultArea>.results>.description>p {
			margin-top: 3px;
		}

		.apartments>section>.right>.resultArea>.results>.description>.updateTime {
			position: absolute;
			bottom: 9px;
			right: 20px;
		    font-size: 12px;
		    color: grey;
		}

	/* 『兩個一排』排列方式，分別要在.resultArea跟.result層分別加入.resultAreaFlex以及.resultsFlex*/
		.apartments>section>.right>.resultAreaFlex {
			margin-top: 10px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.apartments>section>.right>.resultArea>.resultsFlex {
			width: 48%;
			margin-top: 20px;
		}
	/* 『條列式』排列方式，這邊只需要把resultList設定在results那層，就會套用以下這些效果拉*/
		.apartments>section>.right>.resultArea>.resultsList {
			display: flex;
			flex-direction: row;
		}
		.apartments>section>.right>.resultArea>.resultsList>.img {
			width: 40%;
			padding-bottom: 25%;
		}
		.apartments>section>.right>.resultArea>.resultsList>.description {
			width: 60%;
		}
		.apartments>section>.right>.resultArea>.resultsList>.description>.absolute {
			position: relative;
			top: 0px;
			left: 0px;
			padding: 0px 0px 0px 0px;
		}
		.apartments>section>.right>.resultArea>.resultsList>.description>.priceGesture>.price {
			font-size: 1.5em;
			color: black;
			letter-spacing: 1.3px;
			text-shadow: none;
		}
		.apartments>section>.right>.resultArea>.resultsList>.description>.priceGesture>.gesture>.icon {
			color: black;
			height: 25px;
			width: 25px;
			margin-right: 10px;
		    cursor: pointer;
		    filter: unset;
		}
		.apartments>section>.right>.resultArea>.resultsList>.description>.updateTime {
			display: none;
		}

		.apartments>section>.mapMode {
			display: none;
		}

@media (max-width: 900px) {
		.apartments>section>.left {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 100;
			opacity: 0;
		}

		.apartments>section>.right {
			width: 100%;
			height: 100%;
			background-color: #F7F7F7;
			padding: 20px 20px;
			display: flex;
			flex-direction: column;
			padding: 0px;
			position: absolute;
			z-index: 200;
			opacity: 1;
		}
		.apartments>section>.right>.areaSizer {
			display: none;
		}

		.apartments>section>.right>.title {
		    background-color: initial;
		    padding: 0px 0px 20px 20px;
		    order: 2;
		}

		.apartments>section>.right>.filterArea {
		    background-color: initial;
		    padding: 0px;
		    order: 1;
		}

		.apartments>section>.loading {
			width: 100%;
		}

		.apartments>section>.right>.filterArea>.filterType {
			display:none;
		}

		.apartments>section>.right>.filterArea>.buttons {
			display: flex;
			justify-content: space-between;
		}

		.apartments>section>.right>.filterArea>.buttons>.button {
			width: 49%;
		    margin-right: 0px; 
		    margin-left: 0px; 
		    text-align: center;
		}

		.apartments>section>.right>.resultTitle {
		    display: none;
		}

		.apartments>section>.right>.resultArea {
			order: 3;
		}

		.apartments>section>.right>.resultArea>.results {
			display: flex;
			flex-direction: row;
			margin-top: 2px;
		}
		.apartments>section>.right>.resultArea>.results>.img {
			width: 40%;
			padding-bottom: 25%;
		}
		.apartments>section>.right>.resultArea>.results>.description {
			width: 60%;
			border-right: unset;
			background-color: white;
		}
		.apartments>section>.right>.resultArea>.results>.description>.absolute {
			position: unset;
			top: 0px;
			left: 0px;
			padding: 0px 0px 0px 0px;
		}
		.apartments>section>.right>.resultArea>.results>.description>.priceGesture>.price {
			font-size: 1.3em;
			color: black;
			letter-spacing: 1.3px;
			text-shadow: none;
		}
		.apartments>section>.right>.resultArea>.results>.description>.priceGesture>.gesture>.icon {
			color: #B3B6B7;
			height: 23px;
			width: 23px;
			margin-right: 5px;
			filter: unset;
		}
		.apartments>section>.right>.resultArea>.results>.description>.updateTime {
			display: none;
		}
		.apartments>section>.right>.resultArea>.results>.description>.updateTime {
			display: none;
		}

		.apartments>section>.mapMode {
			position: fixed;
			z-index: 1000;
			bottom: 22px;
		    right: 20px;
			color: white;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background-color: #00A99D;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    box-shadow: 0.5px 0.5px 2px #424242;
		}
}

.hidden {
	display:none !important; 
}