/* Common Area */
* {
  margin: 0;
  box-sizing: border-box;
  font-family:  Microsoft JhengHei,'Noto Sans', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.pointer {
	cursor: pointer;
}